<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="query" name="query" placeholder="what your question?">
  <input type="submit" value="Go on!">
</form>
